{% extends 'base.html' %}


{% block color_token %}
{{ style }}
{% endblock %}

{% block content %}
{% load static %}

<section class="py-12" id="pages">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-12 mt-3 col-lg-12 col-xl-12 text-center">

					<!-- Heading -->
					<h2 class="mb-5">Токенизация актива</h2>
					<!-- Subheading -->
					<form action="" method="POST">
					{% csrf_token %}

					{{ idform }}

					<input type="submit" name="send" value="Создать токен" class="mt-2 btn btn-primary">
					</form>
				</div>
				<h2>{{text_for_user}}</h2>
			</div>
		</div>
	</section>

{% endblock%}
